<!DOCTYPE html> 
<html>
<head>
<title>About me</title>
<link rel="stylesheet" href="static/about.css">
</head>
<body>
    <h1>Things you SHOULD know about me </h1>

    <ul>
        <li>I owned a tarantula</li>
        <li>I once set my hair on fire 
        <li>I almost fell off a cliff once</li>
        <li>I have 20+ cacti</li>
        <li>I licked rocks, most are salty </li>
        <li>I broke my arm trying to fly </li>
        <li>In my defense, I wanted to flex</li>
        <li>My earth science teacher had to make a new rule about not eating rocks </li>
        <li>I ate leaves before </li>
        <li>I kicked a fire ant hill before </li>
        <li>It wasnt fun </li>
        <li>I ate a fly by accident </li>
        <li>I like fire a bit too much </li>
       <li>I took three flintstone gummies instead of two </li>
       <li>Eggs taste horrible </li>
       <li>Cherries taste horrible </li>
       <li>Pickles taste horrible </li>
       <li>Dogs taste horrible </li>
       <li>I used to steal cheese a lot when I was younger </li>
       <li>Have I mentioned I licked rocks </li>
       <li>Quartz tastes like butter </li>
       <li>Short socks are top tier to me </li>
       <li>I played roblox for 6 years </li>
       <li>Minecraft for 9 </li>
       <li>I slapped a bee once and I felt bad </li>
       <li>I slapped a wasp once and I didnt feel bad </li>
       <li>Eggs are still gross </li>
        <li>Im allergic to cats </li>





      </ul>
      
      <a href="about.html"><button>About me</button></a>

</body>
</html>















