<!DOCTYPE html> 
<html>
<head>
<title>Hello World</title>
<link rel="stylesheet" href="static/style.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>
    <h1>>&#x1F60E Hello gamers >&#x1F60E</h1>

    <p>Welcome to my gamer pad that I definetly did not copy and paste ;)</p>
    <p>There isnt much here since its a welcome page so go check out the others or your ankles will evaporate.</p>

    
    <img src="https://static.wikia.nocookie.net/1ac3014b-e664-42ec-99be-3c609b821126">
 <a href="about.html"><button>About me</button></a>
</body>
</html>



















